<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369207033068-4t7lo0ada3kvjtfsju67qcpmtrtbugtq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369207033068-4t7lo0ada3kvjtfsju67qcpmtrtbugtq</string>
	<key>API_KEY</key>
	<string>AIzaSyA-unPzXDtoWVuIqul2TtPncOgB_DfDqQY</string>
	<key>GCM_SENDER_ID</key>
	<string>369207033068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shauryagupta.MultiLogin</string>
	<key>PROJECT_ID</key>
	<string>multilogin-b3372</string>
	<key>STORAGE_BUCKET</key>
	<string>multilogin-b3372.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369207033068:ios:d7f25d8f8616ede473b9c9</string>
</dict>
</plist>